*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.header-logo{
    display: flex;
    
}
.header-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-logo span{
    color: rgb(39, 39, 92);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
}

.header-navbar ul{
    list-style: none;
    display: flex;
}
.header-navbar ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 500
}
.header-navbar ul li a:hover{
    color: #ef5a6f;
    text-decoration: underline;

}
.header-info{
    display: flex;
}
.header-info > a{
    color: #000;
}
.header-info > a:hover{
    color: #ef5a6f;
}
.header-info i{
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    transition: all .3s;
}
.header-info i:hover{
    color: #ef5a6f;

}
.cart{
    position: relative;
}
.cart>p{
    position: absolute;
    right: 6px;
    top: 8px;
    width: 18px;
    height: 18px;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}
.header-account{
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.header-account i{
    margin: 0;

}
.header-account:hover{
    color: #ef5a6f;
}